.Message
{
  border: 1px solid #EEEEEE;
  box-shadow: 1px 1px 0 #DDDDDD;
  display: block;
  font-family: cursive;
  font-size: 22px;
  line-height: 50px;
  padding: 11px 20px 0 0;
  resize: none;
  width: 90%;
  height: auto;
  background-image: -moz-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0px); 
  background-image: -webkit-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0);
  
  -webkit-background-size:  100% 50px;
  background-size: 100% 50px;  
}
